<app-navbaroff></app-navbaroff>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <header class="masthead" style="background-image:url('assets/img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Bem vindo ao SeuTreino!</span></div>
                <div class="intro-heading text-uppercase"><span>Muito mais que exercícios</span></div><strong style="align-items: center;font-size: 40px;"><span style="color: rgb(0, 10, 255);">SAIBA MAIS ABAIXO</span></strong>
            </div>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">SOBRE NÓS</h2>
                    <h3 class="text-muted section-subheading">A SeuTreino é muito mais do que uma empresa. É uma plataforma que liga você a uma comunidade de profissionais dedicados e altamente qualificados, que compartilham a mesma paixão pela saúde e pelo bem-estar. Nosso principal objetivo é tornar a jornada em direção a uma vida mais saudável e ativa mais acessível e conveniente do que nunca.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/121.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>&nbsp;Agosto de 2023</h4>
                                    <h4 class="subheading">É Apenas o Começo!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nossa missão é clara: fornecer um espaço onde pessoas em busca de transformação pessoal possam encontrar, agendar e se conectar com os melhores profissionais de educação física e saúde. Queremos tornar a jornada para um estilo de vida mais saudável mais simples, mais flexível e mais adaptada às necessidades individuais de cada pessoa.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/201.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Outubro de&nbsp; 2023</h4>
                                    <h4 class="subheading">Visão e Valores: Melhorar a Vida das Pessoas e a Sociedade Como um Todo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Na SeuTreino, acreditamos que um estilo de vida saudável é um direito fundamental de todos. Nossos valores são guiados pela busca incansável da excelência, comprometimento com a qualidade, integridade e empatia. Acreditamos que, ao ajudar as pessoas a alcançar seus objetivos de saúde, também estamos contribuindo para uma sociedade mais saudável e feliz.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/tkvmitnv.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fevereiro de 2024</h4>
                                    <h4 class="subheading">Faça Parte Da Revolução!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Uma revolução silenciosa está acontecendo no mundo da saúde e bem-estar. À medida que a conscientização sobre a importância da atividade física e de um estilo de vida saudável continua a crescer, a necessidade de acesso facilitado a profissionais qualificados de educação física e saúde tornou-se uma prioridade. Nesse cenário, nasceu a SeuTreino, uma empresa dedicada a organizar e abrir agendas de profissionais da área, oferecendo uma solução única para todos que buscam alcançar seus objetivos de saúde e bem-estar.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/seilal.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Março de 2024</h4>
                                    <h4 class="subheading">Mais Que Uma Família</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nossa equipe é composta por indivíduos apaixonados por saúde, bem-estar e tecnologia. Cada membro da equipe compartilha o compromisso de tornar a SeuTreino a melhor plataforma possível para nossos usuários. Trabalhamos juntos, aprendemos juntos e crescemos juntos, sempre com o foco na satisfação e no sucesso de nossos clientes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faça Parte de Nossa Grande História!!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light" id="team">
        <h2 class="text-uppercase text-center mb-5">NOSSO TIME</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/alex2.jpg">
                        <h4>Alexandre Lira</h4>
                        <p class="text-muted">Full-Stack</p>
                        <ul class="list-inline social-buttons">
                          <li class="list-inline-item list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/dani2.jpg">
                        <h4>Daniel Silva</h4>
                        <p class="text-muted">Orientador</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/emilly2.jpg">
                        <h4>Emilly Vitória</h4>
                        <p class="text-muted">Backend</p>
                        <ul class="list-inline social-buttons">
                          <li class="list-inline-item list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/gabi2.jpg">
                        <h4>Gabriel Martins</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                          <li class="list-inline-item list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/luca2.jpg">
                        <h4>Lucas Bastos</h4>
                        <p class="text-muted">Frontend</p>
                        <ul class="list-inline social-buttons">
                          <li class="list-inline-item list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/eu2.jpg">
                        <h4>Wesley Oliveira</h4>
                        <p class="text-muted">Frontend</p>
                        <ul class="list-inline social-buttons">
                          <li class="list-inline-item list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/frontend/seutreino/src/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/frontend/seutreino/src/assets/js/agency.js"></script>
</body>

