<div class="container shadow-sm mb-3" id="main">
  <div class="container">
    <h3 class="p-2 mt-2">Sobre Mim</h3>
    <hr>

    <ul>
      <li>Bacharelado em Educação Física pela Universidade Federal do Acre (UFAC)</li>
      <li>Certificação em Personal Training pela NASM (National Academy of Sports Medicine)</li>
      <li>Certificação em Nutrição Esportiva pelo ISSN (International Society of Sports Nutrition)</li>
      <li>Certificação em Treinamento de Força pela NSCA (National Strength and Conditioning Association)</li>
    </ul>
  </div>
</div>
