<div id="contact-area">
  <div class="container-fluid contant-footer px-2 py-3">
      <div class="row mt-2">
        <div class="col mx-1 logo">
          <img src="../../../assets/imagens/logo_versao02.png" alt="">
        </div>

        <div class="col mx-2 contact-box">
          <h6>Home</h6>
          <p><span><a routerLink="/home">Inicio</a></span></p>
          <p><span><a href="">Esportes</a></span></p>
        </div>
        <div class="col mx-2 contact-box">
          <h6>Sobre-nós</h6>
          <p><span><a href="">Equipe</a></span></p>
          <p><span><a href="">Empresa</a></span></p>
          <p><span><a href="">Contato</a></span></p>
        </div>
        <div class="col mx-2 contact-box">
          <h6>Suporte</h6>
          <p><span><a href="">FAQ</a></span></p>
          <p><span><a href="">Telefones</a></span></p>
        </div>
        <div class="col mx-1 social-media" id="social-media">
          <i class="fa-brands fa-x-twitter fa-2x"></i>
          <i class="fa-brands fa-instagram fa-2x"></i>
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </div>
      </div>
  </div>

</div>
<div id="copy-area">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 copy">
          <p>Desenvolvido por Razr Ultra © 2023</p>
        </div>
    </div>
  </div> 
</div>