<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Dados Pessoais</h1>
    </div>

    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name">Nome Completo</label>
                                            <input id="name" type="text" name="name" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" type="text" name="email" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="phone">Telefone</label>
                                            <input id="phone" type="number" name="phone" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="gender">Gênero</label>
                                            <select id="gender" name="gender" class="form-control">
                                                <option value="" selected disabled></option>
                                                <option>Masculino</option>
                                                <option>Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="birth-date">Data de Nascimento</label>
                                            <input id="birth-date" type="date" name="birth-date" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="cep">Cep</label>
                                            <input id="cep" type="text" name="phone" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="state">Estado</label>
                                            <input id="state" type="text" name="state" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="city">Cidade</label>
                                            <input id="city" type="text" name="city" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="road">Rua</label>
                                            <input id="road" type="text" name="road" class="form-control" placeholder="">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-secondary btn-send  pt-2 btn-block" value="Editar">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Salvar">
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>