<app-navbaroff></app-navbaroff>
<!-- <div class="container-fluid">
  <div class="row mx-12">
    <h2 class="pt-5">Sou um...</h2>
  </div>
  <div class="container">
  <div class="card-container">
    <div class="teacher my-5">
      <a href="" class="btn btn-outline-light btn-lg mt-5 mb-2">Profissional</a>
      <p>Buscando Promover o meu trabalho</p>
    </div>
    <div class="student my-5">
      <a href="" type="button" class="btn btn-outline-light btn-lg mb-2">Aluno</a>
      <p>Buscando encontrar aulas e treinos</p>
    </div>
  </div>
  </div> -->
<div class="container-fluid" id="content-initial">
  <div class="row">
    <div class="col-mx-12">
      <h1 class="my-4">Eu sou um...</h1>
    </div>
    <div class="col teacher " id="teacher">
      <a href="/form-professional" class="btn btn-lg mb-2 button-initial">Profissional</a>
      <p>Buscando Promover o meu trabalho</p>
    </div>
    <div class="col student " id="student">
      <a href="/form-client" class="btn btn-lg mb-2 button-initial">Aluno</a>
      <p>Buscando encontrar aulas e treinos</p>
    </div>
  </div>
</div>
