<app-navbaron></app-navbaron>

<div class="container-fluid">
    <div class="row text-center">
        <div id="apply-img" class="">
            <div id="apply-content" class="text-button text-center alg">
                <h4 class="title-uppercase mb-2 text-white">Conheça nossos planos</h4>
                <a href="#" class="btn btn-primary" role="button">Saiba mais</a>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                <!-- <p>Sua agenda está livre o que acha de começar a ocupa-lá?
                    Veja alguns de nossos profissionais recomendados:</p> -->
                <h2>Sua agenda!</h2> 
            </div>

            <app-schedules-card></app-schedules-card>
            
        </div>

    </div>
</div>